/* Diseñado por Víctor A. Nazario Morales
    ID: 843-15-4984
    Curso: ADMI3008
    ****Este website debe de ser visto en una resolucion de 1440x900 o similar*****/


/* This stylesheet is divided into sections representing logic parts of the website,
no code controlling each section should be found in other area other than the specified section.
Code is ordered by pages, index, contact and so on.*/


/* All the code that manages page division and structure is contained here*/

.wrapper {
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 0;
}


.topPortion {
  position: absolute;
  height: 750px;
  max-height: 750px;
  width:110%;
  background: #ebf0f8;
  z-index: 1;
  margin-top: -10%;
  margin-left: -10%;
}

.orgInfo{
  position: absolute;
  margin-top: 751px;
  width: 100%;
  height: 500px;
  z-index: 2;
}


/* All to do with nav bar is included in the following code*/
.companyLogo {
  float: left;
  padding-left: 25px;
  font-weight: 800;
  letter-spacing: 3px;
  text-decoration: none;
  color: #c9d8d7;
  position: absolute;
  z-index: 2;

}
.companyLogo:hover {
  color: #f7fcfc;
  position: absolute;
  z-index: 2;

}

#mainLinks {
  padding-left: 38%;
}

#pageTitle {
  margin-left: 15%;

}

a.navItem{
  text-decoration: none;
  color: #211a23;

}

a.navItem:hover{
  text-decoration: underline;
  color: #4c81c9;
}

a.navItemTitle{
  text-decoration: none;
  color: #211a23;

}
a.navItemTitle:hover{
  text-decoration: none;
}


nav{
    background: #ebf0f8;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.5em;
    word-spacing: 40px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.8px;
    z-index: 2;
    padding-top: 20px;
}

/* Main content */

h1.mainH1 {
  bottom: 0;
  top: 0;
  position: absolute;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6em;
  text-align: center;
  text-transform: uppercase;
  color: #2a2b2c;
  word-spacing: -2px;
  letter-spacing: 10px;
  margin-top: 300px;
  margin-left: 30.8%;
  margin-right: 20%;

}

h3.mainDescription {
  bottom: 0;
  top: 0;
  position: absolute;
  font-family: 'Rubik', sans-serif;
  font-size: 1.3em;
  text-align: center;
  color: #2a2b2c;
  margin-top: 360px;
  margin-left: 35%;

}

.map{
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 530px;
  height: 350px;
  width: 470px;
  margin-left:38%;
  margin-right: 32%;

}

/* All code regarding company info on bottom part*/

/* Archive */
div.information{
  top: 0;
  left: 0;
  margin-left: 11%;
  margin-top: 75px;
  width: 300px;
}

img.archive{
  height: 65px;
  width: 65px;
}

.archiveHdr{
  top: 0;
  left: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 2em;

}

h4.archivetxt{
  margin-top: -10px;
  width: 500px;
  font-size: 1.2em;
  font-weight: lighter;
  font-family: 'Fira Sans Condensed  ', sans-serif;
}

/*Help */
div.information2{
  top: 0;
  left: 0;
  margin-left: 55%;
  margin-top: -17.1%;
  width: 300px;
}

img.help{
  height: 65px;
  width: 65px;
}

.helpHdr{
  top: 0;
  left: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 2em;

}

h4.helptxt{
  margin-top: -10px;
  width: 500px;
  font-size: 1.2em;
  font-weight: lighter;
  font-family: 'Fira Sans Condensed  ', sans-serif;
}


/* Code dealing with made*/

hr{
  color: #000000;
  width: 90%;
}
div.made {
  margin-top: 15%;
  height: 50px;
  position: relative;
  z-index: 2;
}

h3.madeInfo{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.2em;
  margin-left: 10%;
  font-weight: lighter;
}

/*Code dealing with a page's footer*/
footer{
padding-top: 90%;
padding-left: 41.5%;
text-align: center;
font-family: 'Rubik', sans-serif;
color: #f7fcfc;
letter-spacing: 2px;
margin-bottom: 0px;
position: absolute;
height: 50px;
z-index: 30;
color: black;
font-size: 0.9em;
}

footer.shortPage{
padding-top: 0%;
padding-left: 41.5%;
text-align: center;
font-family: 'Rubik', sans-serif;
color: #f7fcfc;
letter-spacing: 2px;
margin-bottom: 0px;
position: absolute;
height: 50px;
z-index: 30;
color: black;
font-size: 0.9em;
}

footer.aboutFoot{
padding-top: 0%;
padding-left: 41.5%;
text-align: center;
font-family: 'Rubik', sans-serif;
color: #f7fcfc;
letter-spacing: 2px;
margin-top: -169px;
margin-bottom: 0px;
position: absolute;
height: 50px;
z-index: 30;
color: black;
font-size: 0.9em;
}

/* Code dealing woith the help page map */

#map {
  margin-left: 18%;
  margin-top: 120px;
}


/* Making thew links tell the user where currently at*/

#linkAyuda {
  text-decoration: underline;
}

#linkAbout {
  text-decoration: underline;
}

#linkContact {
  text-decoration: underline;
}



/* Following is the code dealing with contact form */



#title{
  font-family: 'Fira Sans Condensed  ', sans-serif;
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.04em;
  color: #2a2b2c;
}

.form{
  margin: 30px;
  font-family: 'Fira Sans Condensed  ', sans-serif;
  font-size: 1em;
  color: #2a2b2c;
}
.primero{
  color: #2a2b2c;
}


.input{
  margin-top: 12px;
}

p{
  font-size: 1.2em;
}

fieldset {
margin-top: 20px;
margin-bottom: 20px;
width: 24em;
background-color: #ebf0f8;
border: solid medium #2a2b2c;
}

legend {
border: solid 1px #053972;
background-color:#A8A8A8;
padding: 2px;
}


/* The following code represents the squares found on the about (mision) page*/
.areaSquare{
  width: 100%;
  height: 400px;
  background: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 15%;
}

.square{
  padding: 10px;
  margin-top: 15%;
  margin-left: 10%;
  height: 200px;
  width: 350px;
  background: #ebf0f8;
  border-radius: 10px;
}

.square2{
  padding: 10px;
  margin-top: -15%;
  margin-left: 62.8%;
  height: 200px;
  width: 350px;
  background: #ebf0f8;
  border-radius: 10px;
}

.square3{
  margin-left: 37%;
  margin-top: -15.2%;
  height: 215px;
  width: 350px;
  background: #ebf0f8;
  border-radius: 10px;
}

#tituloAbout{
text-align: center;
font-family: 'Rubik', sans-serif;
}

#descripcionAbout{
text-align: center;
font-family: 'Rubik', sans-serif;
font-size: 0.9em;
}



/* Below is all code regarding the states pages, for the purpose of the project only
the state page for Florida is implemented...*/

.leftColumn{
margin-top: 6%;
margin-left: 12%;
height: 630px;
width: 35%;
background: #ebf0f8;
border-radius: 10px;
border: solid;

}


.rightColumn{
  margin-left: 52%;
  margin-top: -44%;
  height: 630px;
  width: 35%;
  background: #ebf0f8;
  border-radius: 10px;
  border: solid;

}

#orgFlorida{
  text-align: center;
  margin-top: 50px;
  font-family: 'Fira Sans Condensed', sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.5em;
}

#orgFloridaDesc{
  text-align: center;
  font-family: 'Rubik', sans-serif;

}

#linkFlorida{
  text-decoration: none;
  color: black;
}

#txtHov:hover{
  text-decoration: underline;
}

#imageFlorida{
  margin-left: 130px;
}

#googleMap{
  margin-left: 25px;
}

h5#mapDescription{
  text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: italic;
}
